streamlit
openai==0.28
pdfplumber
bs4
mistral
transformers
tiktoken
vertexai
PyPDF2
protobuf==3.20
python-docx
langchain
langchain-community
pinecone
chromadb
pandas
python-docx
requests
pysqlite3-binary
docx
